main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #00040f;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: #040c22;
    border-radius: 3.3rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  }
  
  .inner_box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .forms_wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
  }
  
  .right {
    height: 100%;
    left: 20%;
    position: relative;
  }
  
  .right img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    animation: floating-animation infinite 2s ease alternate;
  }
  
  @keyframes floating-animation {
    0% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(10px);
    }
  }